<template>
    <b-card no-body>
        <b-card-header>
            <b-card-title>Categories</b-card-title>
        </b-card-header>

        <b-card-body v-if="chartGenerated">

            <!-- apex chart -->
            <vue-apex-charts
                    type="pie"
                    height="325"
                    class="mt-2 mb-1"
                    :options="customersPie.chartOptions"
                    :series="customersPie.series"
            />

            <!-- apex chart -->
            <vue-apex-charts
                type="pie"
                height="325"
                class="mt-2 mb-1"
                :options="customersPie2.chartOptions"
                :series="customersPie2.series"
            />

        </b-card-body>
    </b-card>
</template>

<script>
import {
    BCard, BCardHeader, BCardTitle, BDropdown, BDropdownItem, BCardBody,
} from 'bootstrap-vue'
import VueApexCharts from 'vue-apexcharts'
import { $themeColors } from '@themeConfig'

export default {
    components: {
        BCard,
        BCardHeader,
        BCardTitle,
        BDropdown,
        BDropdownItem,
        BCardBody,
        VueApexCharts,
    },
    data() {
        return {
            chartGenerated: false,
            chartData: {},
            customersPie: {
                series: [690, 258, 149],
                chartOptions: {
                    chart: {
                        toolbar: {
                            show: true,
                        },
                    },
                    labels: ['New', 'Returning', 'Referrals'],
                    dataLabels: {
                        enabled: false,
                    },
                    legend: { show: true, position: 'top' },
                    stroke: {
                        width: 4,
                    },
                    colors: [$themeColors.primary, $themeColors.warning, $themeColors.danger],
                },
            },
            customersPie2: {
                series: [690, 258, 149],
                chartOptions: {
                    chart: {
                        toolbar: {
                            show: true,
                        },
                    },
                    labels: ['New', 'Returning', 'Referrals'],
                    dataLabels: {
                        enabled: false,
                    },
                    legend: { show: true, position: 'top' },
                    stroke: {
                        width: 4,
                    },
                    colors: [$themeColors.primary, $themeColors.warning, $themeColors.danger],
                },
            },
        }
    },
    methods: {
        getData() {
            this.$http.get('/dashboard/categories').then(res => {
                this.customersPie.series = res.data.data.time.value;
                this.customersPie.chartOptions.labels = res.data.data.time.category;
                this.customersPie2.series = res.data.data.occured.value;
                this.customersPie2.chartOptions.labels = res.data.data.occured.category;
                this.chartGenerated = true;
            })
        }
    },
    created() {
        this.getData();

    },
}
</script>
