<template>
<div>
    <b-card no-body>
        <b-card-header>
            <b-card-title>Tags Count</b-card-title>
        </b-card-header>
        <b-card-body>
            <b-button
                variant="outline-primary"
                pill
                v-for="tag in tags" :key="tag.id"
                size="sm"
                class="mb-1 mr-1"
            >
                {{tag.name}}
                <b-badge variant="light-primary" class="ml-1">
                    {{tag.training_count}}
                </b-badge>
            </b-button>
        </b-card-body>
    </b-card>
</div>
</template>

<script>
import {
    BCard, BCardHeader, BCardTitle, BCardBody, BButton, BBadge,
} from 'bootstrap-vue'
export default {
    name: "TagsCount",
    components: {
        BCard,
        BCardHeader,
        BCardTitle,
        BCardBody,
        BButton,
        BBadge
    },
    data() {
        return {
            tags: []
        }
    },
    mounted() {
        this.getData();
    },
    methods: {
        getData() {
            this.$http.get('/dashboard/tags-count').then(resp => {
                this.tags = resp.data.data.tags;
            })
        },
    }
}
</script>

<style scoped>

</style>
