<template>
    <div>
        <training-add
            :is-add-new-user-sidebar-active.sync="isAddNewUserSidebarActive"
            :role-options="roleOptions"
            :plan-options="planOptions"
            @refetch-data="refetchData"
        />

        <b-card
            title="Table Kitchen Sink"
            no-body
        >
            <b-card-body>
                <div class="d-flex justify-content-between  flex-wrap">

                    <!-- sorting  -->
                    <b-form-group
                        label="Sort"
                        label-size="sm"
                        label-align-sm="left"
                        label-cols-sm="2"
                        label-for="sortBySelect"
                        class="mr-1 mb-md-0"
                    >
                        <b-input-group
                            size="sm"
                        >
                            <b-form-select
                                id="sortBySelect"
                                v-model="sortBy"
                                :options="sortOptions"
                            >
                                <template #first>
                                    <option value="">
                                        none
                                    </option>
                                </template>
                            </b-form-select>
                            <b-form-select
                                v-model="sortDesc"
                                size="sm"
                                :disabled="!sortBy"
                            >
                                <option :value="false">
                                    Asc
                                </option>
                                <option :value="true">
                                    Desc
                                </option>
                            </b-form-select>
                        </b-input-group>
                    </b-form-group>

                    <!-- filter -->
                    <b-form-group
                        label="Filter"
                        label-cols-sm="2"
                        label-align-sm="left"
                        label-size="sm"
                        label-for="filterInput"
                        class="mb-0"
                    >
                        <b-input-group size="sm">
                            <b-form-input
                                id="filterInput"
                                v-model="filter"
                                type="search"
                                placeholder="Type to Search"
                            />
                            <b-input-group-append>
                                <b-button
                                    :disabled="!filter"
                                    @click="filter = ''"
                                >
                                    Clear
                                </b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </div>
            </b-card-body>

            <b-table
                striped
                hover
                responsive
                class="position-relative"
                :per-page="perPage"
                :current-page="currentPage"
                :items="items"
                :fields="fields"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :sort-direction="sortDirection"
                :filter="filter"
                :filter-included-fields="filterOn"
                @filtered="onFiltered"
            >

                <template #cell(category)="data">
                    {{ data.item.category.name }}
                </template>

                <template #cell(type)="data">
                    {{ data.item.type.name }}
                </template>

                <template #cell(spent_time)="data">
                    {{ data.item.spent_time ? data.item.spent_time / 60 : 0 }}h
                </template>

                <template #cell(tags)="data">
                    <b-badge :variant="tag.variant" v-for="tag in data.item.tags" :key="tag.id">
                        {{ tag.name }}
                    </b-badge>
                </template>

            </b-table>

            <b-card-body class="d-flex justify-content-between flex-wrap pt-0">

                <!-- page length -->
                <b-form-group
                    label="Per Page"
                    label-cols="6"
                    label-align="left"
                    label-size="sm"
                    label-for="sortBySelect"
                    class="text-nowrap mb-md-0 mr-1"
                >
                    <b-form-select
                        id="perPageSelect"
                        v-model="perPage"
                        size="sm"
                        inline
                        :options="pageOptions"
                    />
                </b-form-group>

                <!-- pagination -->
                <div>
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        first-number
                        last-number
                        prev-class="prev-item"
                        next-class="next-item"
                        class="mb-0"
                    >
                        <template #prev-text>
                            <feather-icon
                                icon="ChevronLeftIcon"
                                size="18"
                            />
                        </template>
                        <template #next-text>
                            <feather-icon
                                icon="ChevronRightIcon"
                                size="18"
                            />
                        </template>
                    </b-pagination>
                </div>
            </b-card-body>

            <template #code>
                {{ codeKitchenSink }}
            </template>
        </b-card>
    </div>

</template>

<script>
import {
    BTable, BAvatar, BBadge, BFormGroup, BFormSelect, BPagination, BInputGroup, BFormInput, BInputGroupAppend, BButton, BCardBody, BCard
} from 'bootstrap-vue'
import TrainingAdd from "./TrainingAdd.vue";
import userStoreModule from "../apps/user/userStoreModule";
import useUsersList from "../apps/user/users-list/useUsersList";
import { ref, onUnmounted } from '@vue/composition-api'

export default {
    components: {
        BTable,
        BAvatar,
        BBadge,
        BFormGroup,
        BFormSelect,
        BPagination,
        BInputGroup,
        BFormInput,
        BInputGroupAppend,
        BButton,
        BCard,
        BCardBody,
        TrainingAdd
    },
    data() {
        return {
            isAddNewUserSidebarActive: false,
            roleOptions: [
                { label: 'Admin', value: 'admin' },
                { label: 'Author', value: 'author' },
                { label: 'Editor', value: 'editor' },
                { label: 'Maintainer', value: 'maintainer' },
                { label: 'Subscriber', value: 'subscriber' },
            ],

            planOptions: [
                { label: 'Basic', value: 'basic' },
                { label: 'Company', value: 'company' },
                { label: 'Enterprise', value: 'enterprise' },
                { label: 'Team', value: 'team' },
            ],

            statusOptions: [
                { label: 'Pending', value: 'pending' },
                { label: 'Active', value: 'active' },
                { label: 'Inactive', value: 'inactive' },
            ],

            perPage: 10,
            pageOptions: [10, 30, 50],
            totalRows: 1,
            currentPage: 1,
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
            infoModal: {
                id: 'info-modal',
                title: '',
                content: '',
            },
            fields: [
                { key: 'date', label: 'Date', sortable: true },
                { key: 'type', label: 'Type', sortable: true },
                { key: 'category', label: 'Category', sortable: true },
                { key: 'spent_time', label: 'Spent Time', sortable: true },
                { key: 'notes', label: 'Notes', sortable: true },
                { key: 'tags', label: 'Tag', sortable: true },
            ],
            /* eslint-disable global-require */
            items: [],
            /* eslint-disable global-require */
            status: [{
                1: 'Current', 2: 'Professional', 3: 'Rejected', 4: 'Resigned', 5: 'Applied',
            },
                {
                    1: 'light-primary', 2: 'light-success', 3: 'light-danger', 4: 'light-warning', 5: 'light-info',
                }],
        }
    },
    computed: {
        sortOptions() {
            // Create an options list from our fields
            return this.fields
                .filter(f => f.sortable)
                .map(f => ({ text: f.label, value: f.key }))
        },
    },
    mounted() {
        this.getTrainings();
    },
    methods: {
        refetchData() {
          alert('wkwk');
        },
        getTrainings(){
            this.$http.get('/training-sessions').then(resp => {
                this.items = resp.data.data;
                console.log(this.items);
                this.totalRows = this.items.length;
            })
        },
        info(item, index, button) {
            this.infoModal.title = `Row index: ${index}`
            this.infoModal.content = JSON.stringify(item, null, 2)
            this.$root.$emit('bv::show::modal', this.infoModal.id, button)
        },
        resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
    },
}
</script>
