<template>
    <b-card
        class="blog-edit-wrapper"
    >

        <!-- form -->
        <b-form class="mt-2" @submit.prevent="store">
            <b-row>
                <b-col md="6">
                    <!-- Date -->
                    <b-form-group label="Date">
                        <b-form-datepicker
                            id="example-datepicker"
                            v-model="form.date"
                            class="mb-1"
                        />
                    </b-form-group>
                </b-col>
                <b-col md="6">
                    <b-form-group label="Type">
                        <v-select
                            v-model="form.type_id"
                            label="name"
                            :options="typesOptions"
                        />
                    </b-form-group>
                </b-col>
                <b-col md="6">
                    <!-- Category -->
                    <b-form-group label="Category">
                        <v-select
                            v-model="form.category_id"
                            label="name"
                            :options="categoriesOptions"
                        />
                    </b-form-group>
                </b-col>
                <b-col md="6">
                    <!-- Spent Time -->
                    <b-form-group label="Spent Time">
                        <b-form-spinbutton
                            v-model="form.spent_time"
                            min="1"
                        />
                    </b-form-group>
                </b-col>
                <b-col cols="12">
                    <b-form-group label="Notes">
                        <b-form-textarea
                            id="textarea-default"
                            placeholder="Notes"
                            rows="3"
                            v-model="form.notes"
                        />
                    </b-form-group>
                </b-col>

                <b-col
                    cols="12"
                    class="mb-2"
                >
                    <b-form-group label="Tags">
                        <v-select
                            v-model="form.tags"
                            multiple
                            label="name"
                            :options="tagsOptions"
                        />
                    </b-form-group>
                </b-col>

                <b-col
                    cols="12"
                    class="mt-50"
                >
                    <b-button
                        v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                        variant="primary"
                        type="submit"
                        class="mr-1"
                    >
                        Save
                    </b-button>

                    <b-button
                        v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                        variant="outline-secondary"
                    >
                        Cancel
                    </b-button>
                </b-col>

            </b-row>
        </b-form>
        <!--/ form -->
    </b-card>
</template>

<script>
import {
    BFormSpinbutton,
    BFormTextarea,
    BCard,
    BMedia,
    BAvatar,
    BCardText,
    BMediaAside,
    BMediaBody,
    BForm,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BImg,
    BFormFile,
    BLink,
    BButton,
    BFormDatepicker,
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import { quillEditor } from 'vue-quill-editor'
import Ripple from 'vue-ripple-directive'
import { useInputImageRenderer } from '@core/comp-functions/forms/form-utils'
import { ref } from '@vue/composition-api'
import flatPickr from 'vue-flatpickr-component'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
    components: {
        BCard,
        BMedia,
        BAvatar,
        BCardText,
        BMediaAside,
        BMediaBody,
        BForm,
        BLink,
        BImg,
        BRow,
        BCol,
        BButton,
        BFormGroup,
        BFormInput,
        BFormFile,
        vSelect,
        quillEditor,
        flatPickr,
        BFormSpinbutton,
        BFormTextarea,
        BFormDatepicker,
    },
    directives: {
        Ripple,
    },
    data() {
        return {
            blogEdit: {},
            blogFile: null,
            categoryOption: ['Fashion', 'Food', 'Gaming', 'Quote', 'Video'],
            statusOption: ['Published', 'Pending', 'Draft'],
            snowOption: {
                theme: 'snow',
            },
            form: {
                spent_time: 1,
            },
            categoriesOptions: [],
            typesOptions: [],
            tagsOptions: [],
        }
    },
    methods: {
        getData() {
            this.$http.get('/categories').then(resp => {
                this.categoriesOptions = resp.data.data;
            });

            this.$http.get('/tags').then(resp => {
                this.tagsOptions = resp.data.data;
            });

            this.$http.get('/types').then(resp => {
                this.typesOptions = resp.data.data;
            });
        },
        store() {
            let payload = this.form;
            payload.type_id = this.form.type_id.id;
            payload.category_id = this.form.category_id.id;
            payload.tags = payload.tags.map(tag => tag.id);
            this.$http.post('/training-sessions', payload).then(resp => {
                this.$toast({
                        component: ToastificationContent,
                        props: {
                            title: 'Notification',
                            icon: 'CheckIcon',
                            text: resp.data.message,
                            variant: 'success',
                        },
                    },
                    {
                        position: 'top-right',
                    })
                this.$router.push('/');
            });
        },
    },
    created() {
        this.getData();
    },
    setup() {
        const refInputEl = ref(null)
        const refPreviewEl = ref(null)

        const { inputImageRenderer } = useInputImageRenderer(refInputEl, base64 => {
            refPreviewEl.value.src = base64
        })

        return {
            refInputEl,
            refPreviewEl,
            inputImageRenderer,
        }
    },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/libs/vue-select.scss';
@import '~@core/scss/vue/libs/quill.scss';
@import '~@core/scss/vue/pages/page-blog.scss';

#add-new-user-sidebar {
    .vs__dropdown-menu {
        max-height: 200px !important;
    }
}
</style>
