<template>
    <b-sidebar
        id="add-new-user-sidebar"
        :visible="isAddNewUserSidebarActive"
        bg-variant="white"
        sidebar-class="sidebar-lg"
        shadow
        backdrop
        no-header
        right
        @hidden="resetForm"
        @change="(val) => $emit('update:is-add-new-user-sidebar-active', val)"
    >
        <template #default="{ hide }">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center content-sidebar-header px-2 py-1">
                <h5 class="mb-0">
                    Add New Training Session
                </h5>

                <feather-icon
                    class="ml-1 cursor-pointer"
                    icon="XIcon"
                    size="16"
                    @click="hide"
                />

            </div>

            <!-- BODY -->
            <validation-observer
                #default="{ handleSubmit }"
                ref="refFormObserver"
            >
                <!-- Form -->
                <b-form
                    class="p-2"
                    @submit.prevent="onSubmit"
                    @reset.prevent="resetForm"
                >

                    <!-- Date -->
                    <b-form-group label="Date">
                        <flat-pickr
                            v-model="form.date"
                            class="form-control"
                        />
                    </b-form-group>

                    <!-- Type -->
                    <b-form-group label="Type">
                        <v-select
                            v-model="form.type_id"
                            label="name"
                            :options="typesOptions"
                        />
                    </b-form-group>

                    <!-- Category -->
                    <b-form-group label="Category">
                        <v-select
                            v-model="form.category_id"
                            label="name"
                            :options="categoriesOptions"
                        />
                    </b-form-group>

                    <!-- Spent Time -->
                    <b-form-group label="Spent Time">
                        <b-form-spinbutton
                            v-model="form.spent_time"
                            min="1"
                        />
                    </b-form-group>

                    <!-- Notes -->
                    <b-form-group label="Notes">
                        <b-form-textarea
                            id="textarea-default"
                            placeholder="Notes"
                            rows="3"
                            v-model="form.notes"
                        />
                    </b-form-group>

                    <!-- Tags -->
                    <b-form-group label="Tags">
                        <v-select
                            v-model="form.tags"
                            multiple
                            label="name"
                            :options="tagsOptions"
                        />
                    </b-form-group>


                    <!-- Form Actions -->
                    <div class="d-flex mt-2">
                        <b-button
                            v-ripple.400="'rgba(255, 255, 255, 0.15)'"
                            variant="primary"
                            class="mr-2"
                            type="submit"
                        >
                            Add
                        </b-button>
                        <b-button
                            v-ripple.400="'rgba(186, 191, 199, 0.15)'"
                            type="button"
                            variant="outline-secondary"
                            @click="hide"
                        >
                            Cancel
                        </b-button>
                    </div>

                </b-form>
            </validation-observer>
        </template>
    </b-sidebar>
</template>

<script>
import { BSidebar, BForm, BFormGroup, BFormInput, BFormInvalidFeedback, BButton, BFormSelect, BFormSpinbutton, BFormTextarea } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { ref } from '@vue/composition-api'
import { required, alphaNum, email } from '@validations'
import formValidation from '@core/comp-functions/forms/form-validation'
import Ripple from 'vue-ripple-directive'
import countries from '@/@fake-db/data/other/countries'
import store from '@/store'
import flatPickr from 'vue-flatpickr-component'
import vSelect from 'vue-select'

export default {
    components: {
        BSidebar,
        BForm,
        BFormGroup,
        BFormInput,
        BFormInvalidFeedback,
        BButton,
        vSelect,
        BFormSelect,
        BFormSpinbutton,
        BFormTextarea,

        // Form Validation
        ValidationProvider,
        ValidationObserver,
        flatPickr,
    },
    directives: {
        Ripple,
    },
    model: {
        prop: 'isAddNewUserSidebarActive',
        event: 'update:is-add-new-user-sidebar-active',
    },
    props: {
        isAddNewUserSidebarActive: {
            type: Boolean,
            required: true,
        },
        roleOptions: {
            type: Array,
            required: true,
        },
        planOptions: {
            type: Array,
            required: true,
        },
    },
    data: () => ({
        form: {},
        required,
        alphaNum,
        email,
        countries,
        categoriesOptions: [],
        typesOptions: [],
        tagsOptions: [],
    }),
    methods: {
        onSubmit() {
            let payload = this.form;
            payload.type_id = this.form.type_id.id;
            payload.category_id = this.form.category_id.id;
            this.$http.post('/training-sessions').then(resp => {
                console.log(resp.data);
                this.$emit('refetch-data')
            });
        },
        getData() {
            this.$http.get('/categories').then(resp => {
                this.categoriesOptions = resp.data.data;
            });

            this.$http.get('/tags').then(resp => {
                this.tagsOptions = resp.data.data;
            });

            this.$http.get('/types').then(resp => {
                this.typesOptions = resp.data.data;
            });
        },
    },
    mounted() {
      this.getData();
    },
    setup(props, { emit }) {
        const blankUserData = {
            fullName: '',
            username: '',
            email: '',
            role: null,
            currentPlan: null,
            company: '',
            country: '',
            contact: '',
        }

        const userData = ref(JSON.parse(JSON.stringify(blankUserData)))
        const resetuserData = () => {
            userData.value = JSON.parse(JSON.stringify(blankUserData))
        }

        const { refFormObserver, getValidationState, resetForm } = formValidation(resetuserData)

        return {
            userData,
            onSubmit,

            refFormObserver,
            getValidationState,
            resetForm,
        }
    },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/libs/vue-select.scss';

#add-new-user-sidebar {
    .vs__dropdown-menu {
        max-height: 200px !important;
    }
}
</style>
