<template>
    <b-card
        no-body
        class="card-statistics"
    >
        <b-card-header>
            <b-card-title>Working Hours</b-card-title>
        </b-card-header>
        <b-card-body class="statistics-body">
            <b-row>
                <b-col
                    v-for="item in statisticsItems"
                    :key="item.icon"
                    md="6"
                    sm="6"
                    class="mb-2 mb-md-0"
                    :class="item.customClass"
                >
                    <b-media no-body>
                        <b-media-body class="my-auto text-center">
                            <b-avatar
                                size="48"
                                class="mb-2"
                                :variant="item.color"
                            >
                                <feather-icon
                                    size="24"
                                    :icon="item.icon"
                                />
                            </b-avatar>
                            <h4 class="font-weight-bolder mb-0">
                                {{ item.title }}
                            </h4>
                            <b-card-text class="font-small-3 mb-0">
                                {{ item.subtitle }}
                            </b-card-text>
                        </b-media-body>
                    </b-media>
                </b-col>
            </b-row>
        </b-card-body>
    </b-card>
</template>

<script>
import {
    BCard, BCardHeader, BCardTitle, BCardText, BCardBody, BRow, BCol, BMedia, BMediaAside, BAvatar, BMediaBody,
} from 'bootstrap-vue'

export default {
    components: {
        BRow,
        BCol,
        BCard,
        BCardHeader,
        BCardTitle,
        BCardText,
        BCardBody,
        BMedia,
        BAvatar,
        BMediaAside,
        BMediaBody,
    },
    data() {
        return {
            statisticsItems: [
                {
                    icon: 'TrendingUpIcon',
                    color: 'light-primary',
                    title: '230k',
                    subtitle: 'Total',
                    customClass: 'mb-2 mb-xl-0',
                },
                {
                    icon: 'UserIcon',
                    color: 'light-info',
                    title: '8.549k',
                    subtitle: 'Last Month',
                    customClass: 'mb-2 mb-xl-0',
                },
            ],
        }
    },
    mounted() {
        this.getData();
    },
    methods: {
        getData() {
            this.$http.get('/dashboard/sum-working-hours').then(resp => {
                this.statisticsItems[0].title = resp.data.data.workingHours + 'h';
                this.statisticsItems[1].title = resp.data.data.lastMonth + 'h';
            })
        },
    }
}
</script>
