<template>
    <b-card no-body>
        <b-card-header>
            <b-card-title>12 Months Overview</b-card-title>
        </b-card-header>

        <!-- chart -->
        <b-card-body v-if="chartRendered">
            <chartjs-component-bar-chart
                :height="300"
                :data="chartjsData.latestBarChart.data"
                :options="chartjsData.latestBarChart.options"
            />
        </b-card-body>
    </b-card>
</template>

<script>
import { BCard, BCardHeader, BCardBody, BCardTitle } from 'bootstrap-vue'
import flatPickr from 'vue-flatpickr-component'
import ChartjsComponentBarChart from './charts-components/ChartjsComponentBarChart.vue'
import { $themeColors } from '@themeConfig'

export default {
    components: {
        BCard,
        BCardHeader,
        BCardBody,
        BCardTitle,
        flatPickr,
        ChartjsComponentBarChart,
    },
    data() {
        return {
            chartRendered: false,
            chartjsData: {
                latestBarChart: {
                    data: {
                        labels: ['7/12', '8/12', '9/12', '10/12', '11/12', '12/12', '13/12', '14/12', '15/12', '16/12', '17/12'],
                        datasets: [
                            {
                                data: [275, 90, 190, 205, 125, 85, 55, 87, 127, 150, 230, 280, 190],
                                backgroundColor: '#299AFF',
                                borderColor: 'transparent',
                            },
                        ],
                    },
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                                borderSkipped: 'bottom',
                            },
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        responsiveAnimationDuration: 500,
                        legend: {
                            display: false,
                        },
                        tooltips: {
                            // Updated default tooltip UI
                            shadowOffsetX: 1,
                            shadowOffsetY: 1,
                            shadowBlur: 8,
                            shadowColor: 'rgba(0, 0, 0, 0.25)',
                            backgroundColor: $themeColors.light,
                            titleFontColor: $themeColors.dark,
                            bodyFontColor: $themeColors.dark,
                        },
                        scales: {
                            xAxes: [
                                {
                                    display: true,
                                    gridLines: {
                                        display: true,
                                        color: 'rgba(200, 200, 200, 0.2)',
                                        zeroLineColor: 'rgba(200, 200, 200, 0.2)',
                                    },
                                    scaleLabel: {
                                        display: false,
                                    },
                                    ticks: {
                                        fontColor: '#6e6b7b',
                                    },
                                },
                            ],
                            yAxes: [
                                {
                                    display: true,
                                    gridLines: {
                                        color: 'rgba(200, 200, 200, 0.2)',
                                        zeroLineColor: 'rgba(200, 200, 200, 0.2)',
                                    },
                                    ticks: {
                                        stepSize: 100,
                                        min: 0,
                                        max: 400,
                                        fontColor: '#6e6b7b',
                                    },
                                },
                            ],
                        },
                    },
                },
            },
            rangePicker: ['2019-05-01', '2019-05-10'],
        }
    },
    methods: {
        getData(){
            this.$http.get('/dashboard/workings-per-month').then(resp => {
                this.chartjsData.latestBarChart.data.labels = resp.data.data.months;
                this.chartjsData.latestBarChart.data.datasets[0].data = resp.data.data.workingHours;
                this.chartRendered = true;
            })
        },
    },
    mounted() {
        this.getData();
    },
}

</script>

<style lang="scss">
@import '~@core/scss/vue/libs/vue-flatpicker.scss';
</style>
